<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/adminFunctions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    <form method="POST" action="/articles">
        <%- include('_formFields') %>
    </form>

    <dialog data-modal class="modal">
        <input class="modalInput" type="text">
        <button data-close-modal formmethod="dialog" type="button">Cancel</button>
        <button data-submit-modal type="button">Submit</button>
    </dialog>
</body>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("editor")})
</script>

</html>