<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/logReg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="/logRegFunctions.js" defer></script>
    <title>Forgot Password</title>
</head>

<% if (messages.error) { %>
	<div class="error-div">
		<h4 class="flash"> <%= messages.error %> </h4>
	</div>
<% } %>

<div class="container" id="container">
    <div class="form-container sign-in-container">
		<form action="/request-reset" method="POST">
            <h1 style="position: absolute; top: 25;">Reset Password</h1>
			<input type="email" placeholder="Email" name="email"/>
			<button>Send Email</button>
		</form>
	</div>
	
    <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<p>Sign in to share your thoughts!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<p>Enter your email address to reset your password.</p>
                <p>An email will be sent to your address with a link to reset your password.</p>
			</div>
		</div>
	</div>
</div>