<div class="logDiv">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required value="<%= user.email %>">
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="name">First Name</label>
            <input type="text" id="firstName" name="firstName" required value="<%= user.firstName %>">
        </div>

        <div>
            <label for="name">Last Name</label>
            <input type="text" id="lastName" name="lastName" required value="<%= user.lastName%>">
        </div>

        <button type="submit">Submit</button>
    </form>

    <a href="/">Home</a>
</div>