.article-long {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0 5px 20px;
    border-bottom: 2px solid #333;
}
  
.long-top {
    font-weight: bold;
    font-style: italic;
}
  
.article-long h3 {
    width: 425px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-left: 40px;
}
  
.article-long span {
    margin-left: 30px;
    width: 120px;
    overflow: hidden;
}

.article-long .comment-span {
    margin-left: 30px;
    width: 700px;
    overflow: hidden;
}
  
.article-long a {
    color: #0085CA;
    cursor: pointer;
    text-decoration: none;  
}
  
.article-long a, .article-long button {
    margin-left: 30px;
}
  
.modal-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.modal-buttons {
    background: none;
    color: black;
    font-weight: bolder;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
  
/* Edit/New Formatting */
form {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}
  
form label {
    font-weight: bold;
}
  
.top {
    display: flex;
    flex-direction: column;
}
  
.top > :last-child {
    width: fit-content;
}
  
.top > * {
    margin: 2px 0 10px 0;
}
  
.top-row {
    display: flex;
}
  
.top-piece {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
  
.middle {
    display: flex;
    justify-content: center;
}
  
.middle > :first-child {
    width: 100%;
}
  
.CodeMirror {
    height: 300px;
    overflow-y: auto;
}
  
.middle-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 7px 20px;
}
  
.tagsTop {
    display: flex;
    flex-direction: column;
}
  
.tagsTop h3 {
    margin: 0;
}
  
.tagsHeader {
    display: flex;
    align-items: center;
}
  
.tags {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 5px;
    height: 292px;
    width: 226px;
    margin: 5px 0 0 0;
}
  
.tag {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    width: min-content;
    height: 20px;
}
  
.tag > input {
    width: 89px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: lightgray;
}
  
.tag > button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    margin: 0 4px 0 4px;
    font: inherit;
    font-size: small;
    cursor: pointer;
    outline: inherit;
    height: fit-content;
}
  
.newTagBtn {
    background: none;
    color: red;
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
    font: inherit;
    font-size: larger;
    cursor: pointer;
    outline: inherit;
    height: fit-content;
}

.categoryBottom {
    display: flex;
    flex-direction: column;
}

.categoryOptions, .publishOptions {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
}
  
/* Navbar */
nav {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem;
}
  
nav img {
    width: 32px;
}
  
.nav-links {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    gap: 2rem;
    z-index: 1;
}
  
.nav-links a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0085CA;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    transform: translateX(0%);
}
  
.nav-links a:hover {
    color: #fff !important;
    letter-spacing: 5px;
}
  
.burger {
    display: none;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background: #0085CA;
    margin: 5px;
    transition:all 0.5s ease;
}

/* CSS Reset + General Formatting */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
body {
    background-color: #eeeeee;
    font-family: motiva-sans, sans-serif;
    font-style: normal;
}